.containerMain {
    width: 70%;
    margin: 0 auto;
    text-align: center;
}
.startBtn{
    margin-top:10px;
}
.btn {
display: block;
margin: auto;
margin-top: 15px;
width: 250px;
height: 40px;
background-color: rgb(146, 105, 164);
color: white;
font-size: 15px;
}
.output {
    border: 1px black solid;
    width: 250px;
    height: 40px;
    padding: 10px 30px;
}
.highScore{
    float: left;
    margin: 30px;
}
.time{
    float: right;
}
#title{
    margin-top: 75px;
}
/* .containerStart{
    margin-top: 250px;
} */
.containerOne{
    display:none;
}
.containerTwo{
    display:none;
}
.containerThree{
    display:none;
}
.containerFour{
    display:none;
}
.containerFive{
    display:none;
}
.containerScore{
    display:none;
}
.containerLast{
    display:none;
    text-align: center;
    margin: 0 auto;
}